#top-left {
    color: white;
}


a {
    font-size: x-large;
    color: white;
}

h1 {
    text-align: center;
    font-size: larger;
    color: white;
    font-style: oblique;
}

p {
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

body {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header nav a {
    color: white;
    font-size: 18px;
}

.header nav {
    display: flex;
    gap: 40px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "pt pt pd pd pd"
        "mi mi mi mi mi"
        "mp mp md md md"

}

#mapd {
    grid-area: md;
}

#map {
    width: 500px;
    grid-area: mp;
}

#photo {
    background-color: white;
    width: 300px;
    grid-area: pt;
}

#photod {
    grid-area: pd;
}

#mid {
    grid-area: mi;
}